  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Marvel Mania</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Personagens</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/comics">HQ's</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/series">Series</a>
          </li>
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" [(ngModel)]="inputValue" [ngModelOptions]="{standalone: true}" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" (click)="findCharacter($event)">Buscar</button>
        </form> -->
      </div>
    </div>
  </nav>

  <main class="container">
    <div class="bg-body-tertiary p-5 rounded">
      <router-outlet></router-outlet>
    </div>
  </main>
  

<footer class="mt-3" style="background-color: #FED2AA;">
  <p class="text-center">&copy; 2023 MARVEL</p>
</footer>